#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: nayelyjuarez
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCz5/t1V4vmXg+8T94S0dekoxwqNKCARAkuM2kKPHpA5JXFVK7JsyjurRN6bPCikqGRKkRuFvUrHwtnH1OBE/ixLfp4FH9fQznks7WtQI1hSJLHtxqO89erAEAJIov9Lz2rWbmsdfl7NKm1P1t9/lh4te4MdZl+murBzMeNCLGhBk4Q1E6vqo29HKQomUHxcRkfv/+Cb16LeAmmeWAywtZ5wCZ4DTq+YjPx+pn6MzWZlgPc1pAfQOdyMKJv5N3MMohlDYVuL2XT4qnfhqC4GmpmHV/GB/+Lpx5MuoJ26Sn0wKXm13g8ZRaiQjxypVPV0PSXBoSteFww+xN6lOFBsUu/ nayelyjuarez@nayelyjuarez-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
